@tailwind base;

@tailwind components;

@tailwind utilities;

// ** color pallete base **
/* Lime #95D600
Blue #226F9D
Yellow #FFDF4A
Lavender Pink #D092E3
Orange #F0560E */

.btn-primary {
  background-color: #226F9D !important;
}

.bg-cleaning-containers-footer {
  background-image: url("/pexels5217889.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: 100% -50px
}